<h1> View index của bạn là </h1>
<form>
    <lable>Mời nhập họ tên</lable>
    <input type="Text" name="FName" >
     <input type="Submit" name="gửi dữ liệu trả về" >
</form>
<h1>Viewbang.thongbao</h1>