<form>
    <lable>Mời nhập hệ số A</lable>
    <input type="Text" name="hesoA" >
    <lable>Mời nhập hệ số B</lable>
    <input type="Text" name="hesoB"
    <lable>Mời nhập hệ số C</lable>
    <input type="Text" name="hesoC"
    <input type ="submit" value="Giải Phương Trình">
</form>
<h2>@viewBag.gpt</h2>