<h1>Luong</h1>
<form asp-action="Luongnv" method="Post">
   <label>Luong co ban</label>
    <input type="text" name="LuongCoBan">
    <br>
    <label>He So</label>
    <input type="text" name="HeSo">
    <br>
    <label>phu Cap</label>
    <input type="text" name="PhuCap">
    <br>
    <input type="submit" value="Tính">
</form>
@ViewBag.luong